<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Super Cool App</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="text-center">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <h1>Property Updater</h1>
        <h2>Batch update your application.properties!</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="offset-3 col-lg-6">
                    <div class="alert alert-success" role="alert">
                        Your file was successfully uploaded!
                    </div>
                    <h2>Contents:</h2>
                    <form th:action="@{/document/modified}" th:object="${propertyForm}">
                        <table class="table">
                            <thead>
                            <tr>
                                <td>Key</td>
                                <td>Value</td>
                                <td>Included</td>
                            </tr>
                            </thead>
                            <tr th:each="property, stat : *{properties}">
                                <td><input type="text" th:field="*{properties[__${stat.index}__].key}"/></td>
                                <td><input type="text" th:field="*{properties[__${stat.index}__].value}"/></td>
                                <td><input type="checkbox" name="selected" th:checked="*{properties[__${stat.index}__].include}"/></td>
                            </tr>
                        </table>
                        <input type="submit" class="btn btn-success" value="Save and Download Changes">
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>